body {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #4c5454;
}

section h1 {
    font-size: 22px;
    padding-left: 20px;
}
section h2 {
    font-size: 20px;
    padding-left: 50px;
}

section p {
    padding-left: 50px;
}

section img {
    float: right;
    width: 400px;
}

section ul {
    padding-left: 100px;
}

section a:visited {
    color: purple;
}

section a:hover{
    color: red;
}

section a {
    padding-left: 50px;
}

section table {
    border-collapse: collapse;
    width: 400px;
    margin: 50px;
}

section tr {
    border: 1px;
    border-style: solid #ddd;
    padding: 8px;
}

tr:nth-child(2) {
background-color: #F2F2F2;
}

tr:nth-child(4) {
background-color: #F2F2F2;
}

tr:nth-child(6) {
background-color: #F2F2F2;
}

tr:nth-child(8) {
background-color: #F2F2F2;
}

tr:nth-child(10) {
background-color: #F2F2F2;
}

section#liste td:hover {
    background-color: #DDDDDD;
    cursor: pointer;
}

section th {
    padding-top: 12px;
    padding-right: 8px;
    padding-bottom: 20px;
    padding-left: 8px;
    text-align: left;
    background-color: #FF715B;
    color: white;
}

section#message h1 {
    text-align: center;
}

section#message form {
    box-sizing: border-box;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 10%;
    padding-right: 10%;
}

section#message label {
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    color: #4c5454;
    font-size: 18px;
}

section#message select {
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    color: #4c5454;
    font-size: 18px;
}

section#message input {
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    color: #4c5454;
    font-size: 18px;
}

section#message select {
    box-sizing: border-box;
    background-color: #FF715B;
    border: 1px;
    border-style: solid #4c5454;
    border-radius: 5px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

section#message input {
    box-sizing: border-box;
    background-color: #FF715B;
    border: 1px;
    border-style: solid #4c5454;
    border-radius: 5px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

section#message label[type=submit] {
    margin-top: 30px;
}

section#message input[type=submit] {
    margin-top: 30px;
    background-color: #FF715B;
}

